@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Instrument+Serif:ital@1&family=Montserrat:wght@100&display=swap');


ol {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
  }
  
  
 
 body {
    background: linear-gradient(45deg, #ee37e5, #110e0e);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding: 20px;
  }
  
